html {
    font-size: 16px;
    font-family: Verdana, sans-serif;
    color: #800080;
}

p {
    color: #ff0000;
    font-size: 1rem;
}

#a1 {
    color: #0000ff;
}

.cor2 {
    color: #008000;
}

h1 {
    color: #ffff00;
    text-align: center;
}

h2 {
    width: 150px;
}

h3 {
    color: #0000ff;
    font-family: Arial, sans-serif;
    font-size: 36px;
}

body {
    background-image: url(/img/wp.jpg);
}

a {
    text-decoration: none;
}

.div1 {
    width: 200px;
    height: 100px;
    background-color: #ffa500;

}